# Email config
EMAIL_BACKEND = 'sample'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'sample'
EMAIL_HOST_PASSWORD = 'sample'
EMAIL_USE_TLS = True

ADMIN_EMAILS = 'sample'
CONTACT_EMAIL = 'sample'

DEBUG = True

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'sample'

DATABASES = {
    'default': {
        'ENGINE': 'sample',
        'NAME': 'sample',
    }
}